h1 {
    color: hotpink;
    font: arial, helvetica, sans-serif;
    font-size: 44px;
    font-style: italic;
    text-transform: uppercase;

    border: 1px solid red;
    margin: 10px;
    padding: 5px;
}
p {
    color: skyblue;
        font: arial, helvetica, sans-serif;
}
ol {
    color: lightgreen;
    font: arial, helvetica, sans-serif;
}
ul {
    color: purple;
    font: arial, helvetica, sans-serif;
}
